{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


<div class="container text-center py-5 mx-auto-enduser">

    {% if profile_pic_url %}
        <div class="rounded-circle overflow-hidden shadow-4-strong">
            <img src="{{ profile_pic_url }}" class="card-img-top img-cover img-profile" alt="Profile picture">
        </div>
    {% else %}
        <div class="rounded-circle overflow-hidden shadow-4-strong">
            <img src="/static/img/add_image.png" class="card-img-top img-cover img-profile" alt="Profile picture">
        </div>
    {% endif %}
</div>


<div class="container text-center col-lg-7">
        <form method="POST">
            {{ wtf.form_field(admin_form["bio"], class="form-control p-3") }}
            {% for link in admin_form.links %}
                <div class="row py-3">
                    <div class="col-4">
                        {{ wtf.form_field(link["label"]) }}
                    </div>
                    <div class="col">
                        {{ wtf.form_field(link["url"]) }}
                    </div>
                </div>
            {% endfor %}
            {{ wtf.form_field(admin_form["submit"], class="btn btn-primary") }}
        </form>
</div>

{% include "footer.html" %}