{% include "header.html" %}

<div class="container">
    <script>
        setTimeout(function () {
            window.location.href = "{{ url_for('login_okta') }}";
        }, 5000);
    </script>
    <main>
        <div class="py-5 text-center">
            <h1>Login / Register</h1>
            <p class="lead">The login and registration flows of this application is integrated to use Okta.</p>
            <p class="lead">Your secrets are safe with a leading identity provider.</p>
            <hr>
            <p>You will be redirected to the login page automatically within 5 seconds. If not, <a
                    class="link-secondary" href="{{ url_for('login_okta') }}">Go to login page</a></p>

        </div>
        <div class="container-spinner">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                <circle cx="170" cy="170" r="160" stroke="#1B1A17"/>
                <circle cx="170" cy="170" r="135" stroke="#F0A500"/>
                <circle cx="170" cy="170" r="110" stroke="#E45826"/>
                <circle cx="170" cy="170" r="85" stroke="#E6D5B8"/>
            </svg>
        </div>
    </main>
</div>

{% include "footer.html" %}