<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Links Website</title>
</head>
<body>
    <!-- 1. Profile picture  -->
    <img class="profile-picture"
         src="https://t4.ftcdn.net/jpg/03/03/62/45/360_F_303624505_u0bFT1Rnoj8CMUSs8wMCwoKlnWlh5Jiq.jpg">

    <!-- 2. Profile name and bio  -->
    <div class="profile-name">Cute Cat</div>

    <!-- 3. Links  -->

    <a href="https://youtube.com" class="links">
        YouTube Channel
    </a>

    <a href="https://facebook.com" class="links">
        Facebook
    </a>


</body>

</html>
